@CHARSET "UTF-8";

.kwc-container {
  display: none;
  position: absolute;
  width: auto;
  min-width: 52px;
  z-index: 10;
}

.kwc-text {
  font-size: 12px;
  color: #FF6100;
  background: #FFC;
  padding: 10px;
  border: 3px solid #FFB600;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  line-height: 16px;
  margin: 0px;
  display: block;
}

.kwc-container span.kwc-outer-tail {
  display: block;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent; 
  border-right: 15px solid transparent;
  border-top: 15px solid #FFB600;
  border-bottom: 0;
  margin-left: 15px;
  margin-top: -3px;
}

.kwc-container span.kwc-inner-tail {
  display: block;
  width: 0; 
  height: 0; 
  border-left: 11px solid transparent; 
  border-right: 11px solid transparent;
  border-top: 11px solid #FFC;
  border-bottom: 0;
  margin-top: -15px;
  margin-left: 19px;
}